.dreta {
  float:right;
  max-width: 32%;
  margin-left: 5px
}

.esquerra {
  float:left;
  max-width: 32%;
  margin-right: 20px
}

.centrat {
  display: block;
  margin: auto;
  text-align: center;
}