/* Alinea los figure en 3 columnas */
.post-content figure {
  display: inline-block;
  width: 30%;
  margin-right: 1.5%;
  margin-bottom: 10px;
  vertical-align: top;
}

.post-content figure:nth-child(3n) {
  margin-right: 0; /* quitar margen de la última columna */
}

